section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  margin: auto;
  margin-top: auto;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  
  margin: 15px;     
  margin-top: 20px;
  
  padding: 20px;

  border: 10px solid blue;
}
